<!-- <p id="notice"><%= notice %></p> -->

<% content_for :head do %>
<title>Audios Library - Suan Mokkh</title>
<% end %>

<%= render "shared/main_navbar" %>

<div class="container-fluid bg-dark" >
  <div class="container bg-primary" style="margin-top: 75px;">
    <h1 class="text-center">Audios</h1>
    <hr>

      <%= @audios.each do |audio| %>
    <div class="row">
      <div class="col-md-8">
        <%= audio.embeded_audio_link.html_safe %>
      </div>
      <div class="col-md-4">
        <a href=<%= "/audios/" + audio.id.to_s %>><p>View</p></a>
      </div>
    </div>
      <% end %>

    <hr>
  </div>
</div>