<!-- <p id="notice"><%= notice %></p> -->

<% content_for :head do %>
<title>Audios Library - Suan Mokkh</title>
<% end %>

<div class="container-fluid bg-dark" >
  <div class="container bg-primary" style="margin-top: 75px;">
    <h1 class="text-center">Audios</h1>
    <hr>
<!--     <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/222701360%3Fsecret_token%3Ds-x3YEY&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe> -->
      <% @audios.each do |track| %>
        <div class="row">
          <div class="col-md-10">
          <%= track %>
          <hr>
          <!--    <iframe width="100%" height="166" scrolling="no" frameborder="no" src=<%= "https://w.soundcloud.com/player/?url=#{track.secret_uri}&amp;color=725843&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_artwork=false&amp;show_user=false" %>></iframe> -->
          </div>
          <div class="col-md-2 text-center">
          <br>

          </div>
        </div>

      <% end %>
      
            <!-- <div><%= @sc_pagination_link %></div> -->
        
        <nav>
          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href=<%= @sc_pagination_link %>>Next</a></li>
          </ul>
        </nav>

    <hr>
  </div>
</div>