<div class="row havePadding" id="filterrific_results">
  <% if @articles.count < 1 %>

  <% else %>
  <% @articles.each_with_index do |article,index| %>
    <div class="col-sm-3" itemscope itemtype="http://schema.org/article">
      <a href=<%= '/articles/' + article.id.to_s %> class="portfolio-box text-center">
        <% if !article.external_cover_img_link.blank? %>
          <%= image_tag "#{article.external_cover_img_link}", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 65%;", itemprop: 'image' %>
        <% else %>
          <%= image_tag "#{article.cover_img.url(:medium)}", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 65%;", itemprop: 'image' %>
        <% end %>
      </a>
      <h4 class="text-center" itemprop="name"><a href=<%= '/articles/' + article.id.to_s %>><%= article.title %></a></h4>
      <p class="text-center" itemprop='author' itemscope='' itemtype='http://schema.org/Person'><span itemprop="name"><%= article.authors.first.name if article.authors.first %></span></p>
    </div>
    <% if (index + 1) % 4 == 0 %>
      <div class="clearfix"></div>
    <% end %>
  <% end %>
<% end %>
<div class="clearfix"></div>
<div class="col-md-12">
  <p class="text-center"><%= page_entries_info @articles %></p>
  <nav class="text-center">
    <%= paginate @articles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered" %>
  </nav>
  <br>
</div>
</div>
