<% content_for :head do %>
  <title>Articles - Suan Mokkh</title>
  <meta content="832982693512511" property="fb:app_id"><meta content="Suan Mokkh" property="og:site_name" /><meta content="website" property="og:type" /><meta content="<%= @robot_img %>" itemprop="image primaryImageOfPage" property="og:image" /><meta itemprop="title name" content="<%= @title %>" property="og:title" itemprop="title name" /><meta itemprop="description" content="Suanmokkh.org holds the largest and most accesible source of Ajahn Budhadasa's teachings whether in books, audios, or poems. Please take time to explore and learn the reverent and profound teaching of Ajahn Buddhadasa." property="og:description" /><meta content="Suan Mokkh" name="twitter:site"/><meta content="" name="twitter:card" /><meta name="twitter:domain" content="suanmokkh.org"/><meta property="og:type" content="website" /><meta content="<%= @title %>" name="twitter:title" /><meta itemprop="description" content="Suanmokkh.org holds the largest and most accesible source of Ajahn Budhadasa's teachings whether in books, audios, or poems. Please take time to explore and learn the reverent and profound teaching of Ajahn Buddhadasa." name="twitter:description"/><meta content="<%= @robot_img %>" name="twitter:image:src" /><meta property="og:url" content="<%= request.original_url %>"/><link rel="canonical" href="<%= request.original_url %>"/>
<% end %>
<div class="jumbotron bg-dark" style="margin-bottom: 0; min-height: 100%;" itemscope itemtype="http://schema.org/WebPage">
  <div class="container-fluid bg-primary">
    <br>
    <h1 class="text-center">Articles</h1>
    <hr>
    <div class="container">
    <%= form_for_filterrific @filterrific do |f| %>
    <div class="row">
      <div class="col-md-3">
        <h3>Search</h3>
        <div class="input-group">
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed form-control'
        ) %>
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group chardin_box">
        <h3>Language</h3>
        <%= f.select(
          :with_language_id,
          @filterrific.select_options[:with_language_id],
          { include_blank: '- Any -' },
          { :class => 'form-control' }
        ) %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group chardin_box">
        <h3>Author</h3>
        <%= f.select(
          :with_author_id,
          @filterrific.select_options[:with_author_id],
          { include_blank: '- Any -' },
          { :class => 'form-control' }
        ) %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group chardin_box">
        <h3>Series</h3>
        <%= f.select(
          :with_series,
          @filterrific.select_options[:with_series],
          { include_blank: '- Any -' },
          { :class => 'form-control' }
        ) %>
        </div>
      </div>
    </div>
      <h1 class="text-center"><%= render_filterrific_spinner %></h1>
    <% end %>
    <%= render(
      partial: 'articles/article',
      locals: { articles: @articles }
    ) %>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

