<% content_for :head do %>
<title><%= @title %></title>
<meta content="832982693512511" property="fb:app_id"><meta content="Suan Mokkh" property="og:site_name" /><meta content="website" property="og:type" /><meta content="<%= @img %>"  itemprop="image primaryImageOfPage" property="og:image" /><meta itemprop="title name" content="<%= @title %>" property="og:title" itemprop="title name" /><meta itemprop="description" content="<%= sanitize(strip_tags(@article.content.first(120))) %>" property="og:description" /><meta content="Suan Mokkh" name="twitter:site" /><meta content="" name="twitter:card" /><meta name="twitter:domain" content="suanmokkh.org"/><meta property="og:type" content="website" /><meta content="<%= @title %>" name="twitter:title" /><meta itemprop="description" content="<%= sanitize(strip_tags(@article.content.first(120))) %>" name="twitter:description" /><meta content="<%= @img %>" name="twitter:image:src" /><meta property="og:url" content="<%= request.original_url %>"/><link rel="canonical" href="<%= request.original_url %>" />
<% end %>
<div class="jumbotron bg-dark" style="margin-bottom: 0; min-height: 100%;">
  <div class="container book_header bg-primary">
    <div class="row">
      <div class="col-md-12">
        <h1 style="margin-top:0; margin-bottom: 15px; font-size: 63px;"><%= @article.title %>
        </h1>
        <p style="text-d">
          <% @article.authors.each do |author|%>
            <%= "By " + author.name.upcase %>
          <% end %>
           - <%= @article.created_at.strftime("%B %-d, %Y") %>
        </p>
        <hr class="full">
        <% if @img != '' %>
          <div class="col-sm-12">
              <%= image_tag "#{@img}", class: "lazyOwl img-responsive floatCenter shadow haveMargin", style: "width: 100%;", itemprop: 'image' %>
          </div>
          <br>
        <% end %>
        <div class="row">
          <div class="col-md-8">
            <span><%= @article.content.html_safe %></span>
          </div>
        </div>
      </div>
    </div>
      <hr>
      <iframe src=<%= @article.file.url + "#view=fit" %> width="100%" height="1000px" border="0" style="border:none" scrolling="no"></iframe>
  </div>
</div>
<% if @article.allow_comments %>
<div id="article-show-comment" class="container-fluid bg-dark">
  <div class="container">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'suanmokkh';
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
</div>
<% end %>
