<% content_for :head do %>
<title><%= @title %></title>
<meta content="832982693512511" property="fb:app_id"><meta content="Suan Mokkh" property="og:site_name" /><meta content="website" property="og:type" /><meta content="<%= @img %>"  itemprop="image primaryImageOfPage" property="og:image" /><meta itemprop="title name" content="<%= @title %>" property="og:title" itemprop="title name" /><meta itemprop="description" content="<%= sanitize(strip_tags(@article.content)) %>" property="og:description" /><meta content="Suan Mokkh" name="twitter:site" /><meta content="" name="twitter:card" /><meta name="twitter:domain" content="suanmokkh.org"/><meta property="og:type" content="website" /><meta content="<%= @title %>" name="twitter:title" /><meta itemprop="description" content="<%= sanitize(strip_tags(@article.content)) %>" name="twitter:description" /><meta content="<%= @img %>" name="twitter:image:src" /><meta property="og:url" content="<%= request.original_url %>"/><link rel="canonical" href="<%= request.original_url %>" />
<% end %>
<div class="jumbotron bg-dark" style="margin-bottom: 0; min-height: 100%;">
  <div class="container book_header bg-primary">
    <div class="row">
      <div class="col-md-12">
        <h1 style="margin-top:0; margin-bottom: 15px; font-size: 63px;" class="text-center"><%= @article.title %></h1>
        <hr class="full">
        <p style="text-d">
          <% @article.authors.each do |author|%>
            <%= author.name.upcase %>
          <% end %>
           - <%= @article.created_at.strftime("%B %d, %Y") %>
        </p>
        <div class="row">
          <div class="col-md-8">
            <span><%= @article.content.html_safe %></span>
          </div>
          <div class="col-md-4 col-sm-12">
            <% if !@article.external_cover_img_link.blank? %>
              <%= image_tag "#{@article.external_cover_img_link}", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 65%;", itemprop: 'image' %>
            <% else %>
              <%= image_tag "#{@article.cover_img.url}", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 65%;", itemprop: 'image' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
      <hr>
      <iframe src=<%= @article.file.url + "#view=fit" %> width="100%" height="1000px" border="0" style="border:none" scrolling="no"></iframe>
  </div>
</div>
