<% content_for :head do %>
<title>Retreats - Suan Mokkh</title>
<meta content="832982693512511" property="fb:app_id"><meta content="Suan Mokkh" property="og:site_name" /><meta content="website" property="og:type" /><meta content="http://www.thaipulse.com/photos/thailand-buddhism/hl/images/suan-mokkh-buddha-statue-whole-leaves-blurred.jpg" property="og:image" /><meta content="Suan Mokkh - Garden of Liberation" itemprop="title name" property="og:title" /><meta content="<%= request.original_url %>" property="og:url" /><meta content="Suan Mokkh is one of the most reowned and prominent temple in Thailand. It was founded by Ajahn Buddhadasa Bhikkhu in 1931. Even since, it has been sharing the wisdom of the Buddha to Buddhist monks, Thais, and foreigners. Suanmokh.org was created to publicize and share Ajahn's work to the world." itemprop="description" property="og:description" /><meta content="Suan Mokkh" name="twitter:site" /><meta content="" name="twitter:card" /><meta name="twitter:domain" content="suanmokkh.org"/> <meta property="og:type" content="website" /><meta  content="Suan Mokkh" name="twitter:title" /><meta content="Suan Mokkh is one of the most reowned and prominent temple in Thailand. It was founded by Ajahn Buddhadasa Bhikkhu in 1931. Even since, it has been sharing the wisdom of the Buddha to Buddhist monks, Thais, and foreigners. Suanmokh.org was created to publicize and share Ajahn's work to the world." name="twitter:description" /><meta content="http://www.thaipulse.com/photos/thailand-buddhism/hl/images/suan-mokkh-buddha-statue-whole-leaves-blurred.jpg" name="twitter:image:src" /><link rel="canonical" href="<%= request.original_url %>"/>
<% end %>

<div class="bg-dark article_standard" style="border: none; padding-top: 70px;">

<div class="container bg-dark">
	<h1 class="text-center animated fadeIn">Retreats</h1>
	<hr>
	<div class="col-md-12">
		<div id="retreat" class="bg-primary">
				<div class="container-fluid">
				    <div class="row">
				        <div class="col-lg-6 col-lg-offset-3 retreat-grid">
				        	<h2 class="text-center">International Dharma Hermitage</h2>
				            <a target="_blank" href="http://www.suanmokkh-idh.org/" class="portfolio-box">
				                <%= image_tag "suanmokkh1.jpg", style: "height: 350px; width: 100%;", class: "lazyOwl img-responsive floatCenter"%>
				                <div class="portfolio-box-caption">
				                    <div class="portfolio-box-caption-content">
				                        <div class="project-name">
				                            - International Dharma Hermitage -<br>
				                            <hr>
				                            Surat Thani
				                        </div>
				                    </div>
				                </div>
				            </a>
				        </div>
			<!-- 	        <div class="col-lg-6 col-sm-6 retreat-grid">
				    		<h2 class="text-center">hello</h2>
				        </div> -->
				        <div class="col-lg-6 col-lg-offset-3 retreat-grid">
				        	<h2 class="text-center">Dipabhavan Meditation Center</h2>
				            <a target="_blank" href="http://dipabhavan.weebly.com/" class="portfolio-box">
				            <%= image_tag "dipa1.jpg", style: "height: 350px; width: 100%;", class: "lazyOwl img-responsive floatCenter"%>
				                <div class="portfolio-box-caption">
				                    <div class="portfolio-box-caption-content">
				                        <div class="project-category text-faded">
				                            Category
				                        </div>
				                        <div class="project-name">
				                            - Dipabhavan Meditation Center -<br>
				                            <hr>
				                            Samui Island
				                        </div>
				                    </div>
				                </div>
				            </a>
				        </div>
				        <div class="col-lg-6 col-lg-offset-3 retreat-grid">
				        	<h2 class="text-center">Liberation Park</h2>
				            <a target="_blank" href="http://liberationpark.org/" class="portfolio-box">
				            <%= image_tag "liberationpark.jpg", style: "height: 350px; width: 100%;", class: "lazyOwl img-responsive floatCenter"%>
				                <div class="portfolio-box-caption">
				                    <div class="portfolio-box-caption-content">
				                        <div class="project-category text-faded">
				                            Category
				                        </div>
				                        <div class="project-name">
				                        - Liberation Park -<br><hr>
				                        Wisconsin USA
				                        </div>
				                    </div>
				                </div>
				            </a>
				        </div>
				    </div>
				</div>
			</div> 
						
</div>
</div>
</div>