<% content_for :head do %>
<title>Retreats - Suan Mokkh</title>
<% end %>

<div class="bg-dark article_standard" style="border: none; padding-top: 70px;">

<div class="container bg-dark">
	<h1 class="text-center">Retreats</h1>
	<hr>
	<div class="col-md-12">
		<div id="retreat" class="bg-primary">
<!-- 			<h1 class="text-center">Retreat</h1>
			<hr> -->
				<div class="container-fluid">
				    <div class="row">
				        <div class="col-lg-6 col-sm-6 retreat-grid">
				            <a href="http://www.suanmokkh-idh.org/" class="portfolio-box">
				                <%= image_tag "suanmokkh1.jpg", style: "height: 350px; width: 100%;", class: "lazyOwl img-responsive floatCenter"%>
				                <div class="portfolio-box-caption">
				                    <div class="portfolio-box-caption-content">
				                     <!--    <div class="project-category text-faded">
				                            YOYOYO
				                        </div> -->
				                        <div class="project-name">
				                            - International Dhamma Hermitage -<br>
				                            <hr>
				                            Surat Thani
				                        </div>
				                    </div>
				                </div>
				            </a>
				        </div>
				        <div class="col-lg-6 col-sm-6 retreat-grid">
				            <a href="http://dipabhavan.weebly.com/" class="portfolio-box">
				            <%= image_tag "dipa1.jpg", style: "height: 350px; width: 100%;", class: "lazyOwl img-responsive floatCenter"%>
				                <div class="portfolio-box-caption">
				                    <div class="portfolio-box-caption-content">
				                        <div class="project-category text-faded">
				                            Category
				                        </div>
				                        <div class="project-name">
				                            - Dipabhāvan Meditation Center -<br>
				                            <hr>
				                            Samui Island
				                        </div>
				                    </div>
				                </div>
				            </a>
				        </div>
				        <div class="col-lg-6 col-sm-6 retreat-grid">
				            <a href="http://www.kowtahm.com/" class="portfolio-box">
				            <%= image_tag "kowtahm1.jpg", style: "height: 350px; width: 100%;", class: "lazyOwl img-responsive floatCenter"%>
				                <div class="portfolio-box-caption">
				                    <div class="portfolio-box-caption-content">
				                        <div class="project-category text-faded">
				                            Category
				                        </div>
				                        <div class="project-name">
				                            - Kow Tahm Mediation Center -<br><hr>
				                            Pha Ngan Island
				                        </div>
				                    </div>
				                </div>
				            </a>
				        </div>
				        <div class="col-lg-6 col-sm-6 retreat-grid">
				            <a href="#" class="portfolio-box">
				            <%= image_tag "ajarn1.jpg", style: "height: 350px; width: 100%;", class: "lazyOwl img-responsive floatCenter"%>
				                <div class="portfolio-box-caption">
				                    <div class="portfolio-box-caption-content">
				                        <div class="project-category text-faded">
				                            Category
				                        </div>
				                        <div class="project-name">
				                            Project Name
				                        </div>
				                    </div>
				                </div>
				            </a>
				        </div>
		<!-- 		        <div class="col-lg-4 col-sm-6">
				            <a href="#" class="portfolio-box">
				            <%= image_tag "ajarn1.jpg", class: "lazyOwl img-responsive floatCenter"%>
				                <div class="portfolio-box-caption">
				                    <div class="portfolio-box-caption-content">
				                        <div class="project-category text-faded">
				                            Category
				                        </div>
				                        <div class="project-name">
				                            Project Name
				                        </div>
				                    </div>
				                </div>
				            </a>
				        </div>
				        <div class="col-lg-4 col-sm-6">
				            <a href="#" class="portfolio-box">
				            <%= image_tag "ajarn1.jpg", class: "lazyOwl img-responsive floatCenter"%>
				                <div class="portfolio-box-caption">
				                    <div class="portfolio-box-caption-content">
				                        <div class="project-category text-faded">
				                            Category
				                        </div>
				                        <div class="project-name">
				                            Project Name
				                        </div>
				                    </div>
				                </div>
				            </a>
				        </div> -->
				    </div>
				</div>
			</div> 
						
</div>
</div>
</div>

<%= javascript_include_tag 'suanmokkh', 'data-turbolinks-track' => true %>