<% content_for :head do %>
<title>Suan Mokkh - Garden of Liberation</title>
<meta content="Suan Mokkh" property="og:site_name" /><meta content="website" property="og:type" /><meta content="http://www.thaipulse.com/photos/thailand-buddhism/hl/images/suan-mokkh-buddha-statue-whole-leaves-blurred.jpg" property="og:image" /><meta content="Suan Mokkh - Garden of Liberation" itemprop="title name" property="og:title" /><meta content="<%= request.original_url %>" property="og:url" /><meta content="Suan Mokkh is one of the most reowned and prominent temple in Thailand. It was founded by Ajahn Buddhadasa Bhikkhu in 1931. Even since, it has been sharing the wisdom of the Buddha to Buddhist monks, Thais, and foreigners. Suanmokh.org was created to publicize and share Ajahn's work to the world." itemprop="description" property="og:description" /><meta content="Suan Mokkh" name="twitter:site" /><meta content="" name="twitter:card" /><meta name="twitter:domain" content="suanmokkh.org"/> <meta property="og:type" content="website" /><meta  content="Suan Mokkh" name="twitter:title" /><meta content="Suan Mokkh is one of the most reowned and prominent temple in Thailand. It was founded by Ajahn Buddhadasa Bhikkhu in 1931. Even since, it has been sharing the wisdom of the Buddha to Buddhist monks, Thais, and foreigners. Suanmokh.org was created to publicize and share Ajahn's work to the world." name="twitter:description" /><meta content="http://www.thaipulse.com/photos/thailand-buddhism/hl/images/suan-mokkh-buddha-statue-whole-leaves-blurred.jpg" name="twitter:image:src" /><link rel="canonical" href="<%= request.original_url %>"/>
<% end %>
<header id="page-top" class="indexPage">
	<div class="header-content">
		<div class="header-content-inner wow fadeIn">
			<h1>Suan Mokkh</h1>
			<h1>Garden of Liberation</h1>
			<hr style="margin: 20px auto">
			<p style="font-size:19px; margin-bottom: 15px;">Founded 1932 by Ajahn Buddhadasa with the goal of teaching the true heart of Buddhism. Ever since it has served and become one of the most reverant Theravada Buddhist temple in Thailand.</p>
			<a href="#tanajarn" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-down animated"></i>
			</a>
		</div>
	</div>
</header>
<%= render "buddhadasa" %>
<%= render "suan_mokkh" %>
<%= render "index_books" %>
<%= render "index_poetry" %>
<%= render "index_audios" %>
<%= render "index_gallery" %>
<%= render "index_bia" %>