<% content_for :head do %>
<title>Suan Mokkh - Garden of Liberation</title>
<% end %>

<%= render "shared/index_navbar" %>

<header id="page-top" class="indexPage">
	<div class="header-content">
		<div class="header-content-inner wow fadeIn">
			<h1>Suan Mokkh</h1>
			<h1>Garden of Liberation</h1>
			<hr>
			<p style="font-size:22px;">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
		</div>
	</div>
</header>

<%= render "buddhadasa" %>

<%= render "suan_mokkh" %>

<%= render "index_books" %>

<%= render "index_audios" %>

<%= render "index_poetry" %>

<%= render "index_gallery" %>

<%= javascript_include_tag 'imagesloaded.pkgd.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'isotope.pkgd.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
