<% content_for :head do %>
<title>Suan Mokkh - Garden of Liberation</title>
<% end %>

<header id="page-top" class="indexPage">
	<div class="header-content">
		<div class="header-content-inner wow fadeIn">
			<h1>Suan Mokkh</h1>
			<h1>Garden of Liberation</h1>
			<!-- <hr> -->
			<p style="font-size:16px; margin-bottom: 15px;">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
	<a href="#tanajarn" class="btn btn-circle page-scroll">
	                            <i class="fa fa-angle-down animated"></i>
	                        </a>
<!-- 				<ul id="suanmokkh-nav" class="nav nav-pills nav-justified text-center list-dark" >

				  <li role="presentation"><a class="page-scroll" href="#introduction"><h2 style="font-weigth:600;">Introduction</h2></a></li>
				  <li role="presentation"><a class="page-scroll" href="#monastary"><h2>Monastary</h2></a></li>
				  <li role="presentation"><a href="/suanmokkh/principle"><h2>Principle</h2></a></li>
				  <li role="presentation"><a href="/contact"><h2>isting</h2></a></li>
				  <li role="presentation"><a href="/contact"><h2>Contact</h2></a></li>
				</ul> -->


		</div>
	</div>
</header>

<%= render "buddhadasa" %>

<%= render "suan_mokkh" %>

<%= render "index_books" %>

<%= render "index_poetry" %>

<%= render "index_audios" %>

<%= render "index_gallery" %>

<%= javascript_include_tag 'imagesloaded.pkgd.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'isotope.pkgd.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
