	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	    <div class="container-fluid">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand page-scroll" href="#page-top">
	            <!-- <img alt="Brand" src="public/logo.jpg"> --><i class="fa fa-play-circle-o fa-rotate-90 fa-lg"></i> SUAN MOKKH</a>
	        </div>

	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul class="nav navbar-nav">
	                <li>
	                    <a class="page-scroll" href="#tanajarn">Tan Ajarn</a>
	                </li>
	                <li>
	                    <a class="page-scroll" href="#teachings">Teachings</a>
	                </li>
	                <li>
	                    <a class="page-scroll" href="#suanMokkh">Suan Mokkh</a>
	                </li>
	                <li>
	                    <a class="page-scroll" href="#retreat">Retreat</a>
	                </li>
<!-- 	                <li>
	                    <a class="page-scroll" href="#contact">BIA</a>
	                </li> -->
	           <!--      <li>
	                    <a class="page-scroll" href="#contact">Resource</a>
	                </li> -->
	                <li>
	                    <a class="page-scroll" href="#news">News</a>
	                </li>
	            </ul>
	            <ul class="nav navbar-nav navbar-right ">
	              <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-sitemap"></i> Sitemap <span class="caret"></span></a>
	                <ul class="dropdown-menu text-center" role="menu">
<!-- 	                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-sitemap"></i> Sitemap <span class="caret"></span></a>
	                                <ul class="dropdown-menu text-center scrollable-menu" role="menu">
	                                <div class="col-md-6 text-center">
	                	                <h4 class="text-center brown"><i class="fa fa-circle-thin brown"></i> Ajarn Buddhadasa</h4>
	                	                <li><a href="#">Biography</a></li>
	                                  <li><a href="#">Basic Teachings</a></li>	
	                                </div>
	                                <div class="col-md-6 text-center">
	                	                <h4 class="text-center brown"><i class="fa fa-circle-thin brown"></i> Ajarn Buddhadasa</h4>
	                	                <li><a href="#">Biography</a></li>
	                                  <li><a href="#">Basic Teachings</a></li>	
	                                </div> -->
		                <h4 class="text-center brown"><i class="fa fa-circle-thin brown"></i> Ajarn Buddhadasa</h4>
		                <li><a href="#">Biography</a></li>
	                  <li><a href="#">Basic Teachings</a></li>		                
		                <li><a href="#">Gallery</a></li>
	                  <li class="divider"></li>
	                  <h4 class="text-center brown"><i class="fa fa-book brown"></i> Ajarn's Teachings</h4>	                
	                  <li><a href="#">Books</a></li>
	                  <li><a href="#">Poetry</a></li>
	                  <li><a href="#">Audio</a></li>
	                  <li><a href="#">Video</a></li>
	                  <li><a href="#">Santikaro's Work</a></li>
	                  <li class="divider"></li>
	                  <h4 class="text-center brown"><i class="fa fa-pagelines brown"></i> Suan Mokkh</h4>
	                  <li><a href="#">About</a></li>
	                  <li><a href="#">Contact</a></li>
	                  <li class="divider"></li>
	                  <h4 class="text-center brown"><i class="fa fa-child brown"></i> Retreat</h4>
	                  <li><a href="#">Learn More</a></li>
	                  <li class="divider"></li>
	                  <h4 class="text-center brown"><i class="fa fa-archive brown"></i> BIA</h4>
	                  <li><a href="#">Learn More</a></li>
	                  <li class="divider"></li>
	                  <h4 class="text-center brown"><i class="fa fa-newspaper-o brown"></i> News</h4>
	                  <li><a href="#">News Articles</a></li>
	                  <li><a href="#">Schedule</a></li>
	                  <li><a href="#">Subscribe</a></li>
	                  <li class="divider"></li>
	                  <li><a href="/admin">Log In</a></li>
	                </ul>
	              </li>
	            </ul>
	        </div>
	        <!-- /.navbar-collapse -->
	    </div>
	    <!-- /.container-fluid -->
	</nav>
<header id="page-top" class="indexPage">
	<div class="header-content">
		<div class="header-content-inner wow fadeIn">
			<h1>Suan Mokkh</h1>
			<h1>Garden of Liberation</h1>
			<hr>
			<p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
		</div>
	</div>
</header>

<section id="tanajarn" style="padding-top:25px">
	<div class="container	text-justify">
				<h1 class="text-center">Buddhadasa Bhikkhu</h1><hr> 

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
					<iframe id="ytplayer" type="text/html" width="100%" height="555" src="https://www.youtube.com/embed/rp3-7nquO3U?cc_load_policy=1&modestbranding=1&color=white&theme=light"frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-12">
				<br>
				<p class="havePadding" style="line-height:2;"><i class="fa fa-quote-left fa-3x pull-left"></i> ...founded Suan Mokkh after giving up on the monastic system in Bangkok. He found the Wats (temples) there dirty, crowded, and corrupt, nothing like the purer, more simple Buddhism of his birthplace. Thus, returned to the South and moved into an abandoned temple near his hometown. At first living alone, then with others as news of his experiment spread, he took a radical look into the sources of Theravada Buddhism and dedicated his life to following the pristine Dhamma and correcting the numerous mistaken beliefs and practices that had crept in over the centuries. Some hated him, others loved him. Why not see what he has to offer? See below for some of his teachings.</p>
				<br>
<!-- 				<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/119522369&amp;color=725843&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe> -->
			</div>
		</div>
	</div>
</section> 

<aside class="bg-dark">
	<div class="container text-center">
		<div class="call-to-action">
			<br>
			<h1>This tonic is formulated from 7 medicines</h1><hr>
			<p>
				Add one measure of the bark of "don't know nothing."<br>
				Add one measure of the heartwood of "the heck with it."<br>
				Add one measure of the root of "that's just how it is."<br>
				Add one measure of the leaves of "without any 'me' or 'mine'."<br>
				Add one measure of the flowers of "nothing worth being or having."<br>
				Add one measure of the fruit of "die before dying." <br>
				<br>
				Equal measures of these six makes a total of six measures together. <br>
				<br>
				Add the seed of "remainderless quenching" equal to the rest (six measures).<br>
				Bless these medicines with 108 repetitions of the mantra sabbe dhamma nalam abhinivesaya*.<br>

				Place them all in a ceramic boiling pot and cover with water. Boil the liquid down to a third.<br>
				<br>
				Drink three times a day. Don't forget! One teaspoon each time is enough. You'll be cleared of the disease most terrifying for us.<br>
				<br>
				If you aren't cured in a month, continue taking for a year. If you aren't cured after a year, you're crazy and can stop taking it.<br>
				<br>
				* Nothing is worth clinging to.</p>
			</div>
		</div>
	</aside>

	<section class="bg-primary" id="teachings" style="padding: 15px;">
		<div class="container">
			<h1 class="text-center"style="color:black;">Teachings</h1>
			<hr>
			<ul class="nav nav-pills nav-justified" style="padding-bottom: 15px;">
				<li role="presentation"><a href="#">Thai</a></li>
				<li role="presentation"><a href="#">Chinese</a></li>
				<li role="presentation"><a href="#">English</a></li>
				<li role="presentation"><a href="#">German</a></li>
				<li role="presentation"><a href="#">Russian</a></li>
			</ul>
		</div>
		<div id="owl-books" class="owl-carousel">
			<% if @books.count > 0 %>
			<% @books.each do |book| %>
					<!-- <h1 class="brown"><%= book.id %></h1> -->
			    <div>
			    	<a href=<%= '/books/' + book.id.to_s %> class="portfolio-box text-center">
			    		<%= image_tag "#{book.cover_img.url}", size: "250x300", class: "lazyOwl img-responsive floatCenter"%>
			    		<h4><%= book.title %></h4>
			    		<div class="portfolio-box-caption">
			    			<div class="portfolio-box-caption-content">
			    				<div class="project-category text-faded">
			    					Take a look
			    				</div>
			    				<div class="project-name">
			    					Book Title
			    				</div>
			    			</div>
			    		</div>
			    	</a>
			    </div>
			<% end %>
			<% else %>

			<% 10.times do |index| %>
					<%= index %>
					<div>
						<a href="#" class="portfolio-box text-center">
							<%= image_tag "book#{index+1}.jpg", size: "250x300", class: "lazyOwl img-responsive floatCenter"%>
							<h4>Book title</h4>
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded">
										Take a look
									</div>
									<div class="project-name">
										Book Title
									</div>
								</div>
							</div>
						</a>
					</div>
			<% end %>
			<% end %>

		</div>
		
	<!-- 	<div class="container">
		<h2 style="color:black;">Audio</h2>
		<div class="row">
			<div class="col-md-12">
			<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2127712&amp;color=725843&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
			</div>
		</div>
		</div> -->

	</section>

	<section id="suanMokkh" style="padding-top:25px; padding-bottom:100px;">
		<h1 class="text-center">Suan Mokkh</h1>
		<hr>
		<div class="container text-justify">
			<div class="row havePadding">
				<p>Wat Suan Mokkh is a forest monastery where about 40 monks live in little huts in the forest. From July to September, during the traditional three month rain retreat, the number of monks may increase to more than 70. Another part of the mon­as­tery grounds is re­served for nuns and lay women.</p>
				<!-- <br> -->
				<p>At one time, before 1996, a small community of foreigners lived at Wat Suan Mokkh, known worldwide as a centre for med­i­ta­tion. Today only occasionally foreigners will stay longer than two or three days before or after the retreat at the associated Inter­na­tional Dharma Her­mit­age about 1.5 km to the east of the main mon­as­tery.</p>

				<p>This hermitage attracts more than 1,000 for­eign­ers a year to Wat Suan Mokkh, which some­times appears as Wat Suan Mok in some publications and websites that try to cap­ture the pronunciation. The visitors attend 10-day silent retreats with instruction in med­ita­tion and Dharma. The instructions at the International Dharma Hermitage are given in English.</p>

				<p>There are a number of other buildings at Wat Suan Mokkh, including the Spiritual Theatre and the assembly hall in the form of a big ship - a metaphor for the Dharma - with a foreign library and the sculpture work­shop.
				The foreign library has a variety of books on med­i­ta­tion, Buddhism and related topics in many languages including English, German, French and Japanese.</p>

				<p>Picture Anyone arriving early for a retreat, wanting to stay longer or arriving during re­treats is wel­come to stay, ini­tial­ly for up to 7 days, at the main mon­as­tery. If, after 7 days, you intend to pro­long your stay, you need to get per­mis­sion by the abbot of Suan Mokkh or his rep­re­sen­ta­tive. Per­mis­sion will readily be granted to dedi­cated medi­tators and students of Buddhism. Doing a chore (com­mu­nity work like sweeping leaves) while staying is part of the practice.
				Ac­com­mo­dation in dorms (for men) or in­di­vid­ual rooms (for wom­en) is free; food is avail­able inside the mon­as­tery or at the nearby stalls.
				Please note that there are neither organised activities nor a certain schedule to be fol­lowed, no teachings or instructions been offered while staying at the main Suan Mokkh monastery. This possibility is therefore most suitable for people who have done a retreat at the In­ter­na­tional Dharma Hermitage already or for experienced med­ita­tors who can use the wat's facilities without guidance.</p>
			</div>
		</div>
				<a href="#" class="btn btn-default btn-xl text-center">Learn More</a>
	</section>

	<section id="retreat" class="bg-dark" style="padding:50px 0px;">
	<!-- 	<div>
			<%= image_tag "header5.png",width: "100%",class: "lazyOwl img-responsive floatCenter"%>
		</div> -->
		<div class="container text-justify">
			<div class="row caption retreatCaption" style="border: 20px solid white">
			<h1 class="text-center">Retreat</h1>
			<hr>
			<div id="owl-demo" class="owl-carousel owl-theme">
			  <div class="item">
					<%= image_tag "suanmokkh1.jpg",class: "lazyOwl"%>
			  </div>
			  <div class="item">
					<%= image_tag "inter8.jpg",class: "lazyOwl"%>
			  </div>
			  <div class="item">
					<%= image_tag "inter6.jpg",class: "lazyOwl"%>
			  </div>
			 
			</div>
				<div class="col-md-6">
				<p><b>Wat Suan Mokkh</b> is a forest monastery where about 40 monks live in little huts in the forest. From July to September, during the traditional three month rain retreat, the number of monks may increase to more than 70. Another part of the mon­as­tery grounds is re­served for nuns and lay women.</p>
				<!-- <br> -->
				<p>At one time, before 1996, a small community of foreigners lived at Wat Suan Mokkh, known worldwide as a centre for med­i­ta­tion. Today only occasionally foreigners will stay longer than two or three days before or after the retreat at the associated Inter­na­tional Dharma Her­mit­age about 1.5 km to the east of the main mon­as­tery.</p>

				<p>This hermitage attracts more than 1,000 for­eign­ers a year to Wat Suan Mokkh, which some­times appears as Wat Suan Mok in some publications and websites that try to cap­ture the pronunciation. The visitors attend 10-day silent retreats with instruction in med­ita­tion and Dharma. The instructions at the International Dharma Hermitage are given in English.</p>
				</div>
				<div class="col-md-6">
				<p>There are a number of other buildings at Wat Suan Mokkh, including the Spiritual Theatre and the assembly hall in the form of a big ship - a metaphor for the Dharma - with a foreign library and the sculpture work­shop.
				The foreign library has a variety of books on med­i­ta­tion, Buddhism and related topics in many languages including English, German, French and Japanese.</p>

				<p>Picture Anyone arriving early for a retreat, wanting to stay longer or arriving during re­treats is wel­come to stay, ini­tial­ly for up to 7 days, at the main mon­as­tery. If, after 7 days, you intend to pro­long your stay, you need to get per­mis­sion by the abbot of Suan Mokkh or his rep­re­sen­ta­tive. Per­mis­sion will readily be granted to dedi­cated medi­tators and students of Buddhism. Doing a chore (com­mu­nity work like sweeping leaves) while staying is part of the practice.
				Ac­com­mo­dation in dorms (for men) or in­di­vid­ual rooms (for wom­en) is free; food is avail­able inside the mon­as­tery or at the nearby stalls.
				Please note that there are neither organised activities nor a certain schedule to be fol­lowed, no teachings or instructions been offered while staying at the main Suan Mokkh monastery. This possibility is therefore most suitable for people who have done a retreat at the In­ter­na­tional Dharma Hermitage already or for experienced med­ita­tors who can use the wat's facilities without guidance.</p>
				</div>
				<a href="#" class="btn btn-default btn-xl text-center">Learn More</a>
				<hr>
			</div>
		</div>
	</section> 

	<section id="news" style="padding-top:15px;">
		<h1 class="text-center">News</h1>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6">
					<div class="mainArticle">
						<%= image_tag "event1.png", size: '150X150',class: "lazyOwl img-responsive floatCenter shadow"%>
						<div class="caption text-center">
							<h3>Latest News/Activity Title</h3>
							<p class="text-justify">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis...</p>
							<p><a href="#" class="btn btn-primary" role="button">Read More</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
				<% 5.times do |yo| %>
				<div class="media">
				      <div class="media-body">
				        <h4 class="media-heading" id="media-heading"><b>News/Activity Title</b><a class="anchorjs-link" href="#media-heading"><span class="anchorjs-icon"></span></a><small> - <i class="fa fa-clock-o"></i> June 2nd, 2015</small></h4>
				        <p style="font-weight:500">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis...</p>
				      </div>
				      <div class="media-right">
				        <a href="#">
				          <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
				        </a>
				      </div>
				    </div>
				<% end %>
			<a class="pull-right"href="">See All</a>
				</div>
				</div>
			</div>
		</div>
	</section>

