<div class="row havePadding" id="filterrific_results">
  <% if @books.count < 1 %>

  <% else %>
  <% @books.each do |book| %>
    <div class="col-md-4 book-grid" itemscope itemtype="http://schema.org/Book">
      <a href=<%= '/books/' + book.id.to_s %> class="portfolio-box text-center">
        <% if !book.external_cover_img_link.blank? %>
          <%= image_tag "#{book.external_cover_img_link}", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 65%;", itemprop: 'image' %>
        <% else %>
          <%= image_tag "#{book.cover_img.url}", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 65%;", itemprop: 'image' %>
        <% end %>
      </a>
      <h4 class="text-center" itemprop="name"><%= book.title %></h4>
      <p class="text-center" itemprop='author' itemscope='' itemtype='http://schema.org/Person'><span itemprop="name"><%= book.authors.first.name if book.authors.first %></span></p>
    </div>
  <% end %>
<% end %>

<div class="col-md-12">
  <p class="text-center"><%= page_entries_info @books %></p>

  <nav class="text-center">
    <%= paginate @books, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered" %>
  </nav>
  <br>
</div>
</div>
