<!-- <p id="notice"><%= notice %></p> -->
<% content_for :head do %>
  <title>Books Library - Suan Mokkh</title>
<% end %>

<div class="jumbotron bg-dark" style="margin-bottom: 0; min-height: 100%;">
  <div class="featured container" style="border: none; margin-top: 30px;">
    <div id="owl-featured-books" class="owl-carousel">
      <% @featured_books.each do |book| %>
        <div class="item row container">
          <div class="col-md-6 text-center">
            <h1><%= book.title %></h1>
            <hr class="full">
            <p style="text-d">
              <% book.authors.each do |author|%>
                <%= author.name %>
              <% end %>
            </p>
            <p style="color:white !important; font-size:1.3em;" class="text-justify text-indent"><%= sanitize(book.description).first(530) %></p>
          </div>
          <div class="col-md-6">
            <% if !book.external_cover_img_link.blank? %>
              <%= image_tag "#{book.external_cover_img_link}", class: "lazyOwl img-responsive floatCenter shadow animated fadeIn", style: "width:55%;" %>
            <% else %>
              <%= image_tag "#{book.cover_img.url}", class: "lazyOwl img-responsive floatCenter shadow animated fadeIn", style: "width:55%;" %>
            <% end %>
          </div>
          <br>
          <div class="col-md-12">
          <a href=<%= '/books/' + book.id.to_s %> class="btn btn-default btn-xl text-center floatCenter haveMargin" style="width: 200px;">Learn More</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="container-fluid bg-primary">
    <br>
<!--     <h1 class="text-center">Books in Archive</h1>
    <hr> -->
    <div class="container">
    <%= form_for_filterrific @filterrific do |f| %>
    <div class="row">
      <div class="col-md-3">
        <h3>Search</h3>
        <div class="input-group">
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed form-control'
        ) %>
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
        </div>

      </div>
      <div class="col-md-3">
        <div class="form-group chardin_box">
        <h3>Language</h3>
        <%= f.select(
          :with_language_id,
          @filterrific.select_options[:with_language_id],
          { include_blank: '- Any -' },
          { :class => 'form-control' }
        ) %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group chardin_box">
        <h3>Author</h3>
        <%= f.select(
          :with_author_id,
          @filterrific.select_options[:with_author_id],
          { include_blank: '- Any -' },
          { :class => 'form-control' }
        ) %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group chardin_box">
        <h3>Series</h3>
        <%= f.select(
          :with_series,
          @filterrific.select_options[:with_series],
          { include_blank: '- Any -' },
          { :class => 'form-control' }
        ) %>
        </div>
      </div>
    </div>
      <%# add an automated spinner to your form when the list is refreshed %>
      <h1 class="text-center"><%= render_filterrific_spinner %></h1>
    <% end %>

    <%= render(
      partial: 'books/book',
      locals: { books: @books }
    ) %>
    </div>
  </div>

  <div class='container-fluid bg-dark'>
    <div class="container">
      <h2>Recommended</h2>
      <div id="owl-recommended-books" class="owl-carousel">
        <% @recommended_books.each do |book| %>
          <div class="havePadding">
            <a href=<%= '/books/' + book.id.to_s %> class="portfolio-box text-center">
              <% if !book.external_cover_img_link.blank? %>
                <%= image_tag "#{book.external_cover_img_link}", size: "250x300", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 100%;" %>
              <% else %>
                <%= image_tag "#{book.cover_img.url}", size: "250x300", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 100%;" %>
              <% end %>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Take a look
                  </div>
                  <div class="project-name">
                    <i class="fa fa-search"></i> 
                    Take a look
                  </div>
                </div>
              </div>
            </a>
            <h4 class="text-center"><%= book.title %></h4>
            <p class="text-center"><%= book.authors.first.name if book.authors.first %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>



  <div class="clearfix"></div>
</div>

<%= javascript_include_tag 'books', 'data-turbolinks-track' => true %>
