<!-- <p id="notice"><%= notice %></p> -->
<% content_for :head do %>
<title>Books Library - Suan Mokkh</title>
<% end %>

<%= render "shared/main_navbar" %>

<div class="jumbotron bg-dark" style="margin-bottom: 0; min-height: 100%;">
  <div class="container" style="border: none; margin-top: 30px;">
    <div id="owl-featured-books" class="owl-carousel">
      <% @featured_books.each do |book| %>
      <div class="item row container">
        <div class="col-md-6 text-center">
          <h1><%= book.title %></h1>
          <hr class="full">
          <p style="text-d">
            <% book.authors.each do |author|%>
              <%= author.name %>
            <% end %>
          </p>
          <p style="color:white !important;" class="text-justify text-indent"><%= strip_tags(book.description).first(530) + '...' %></p>
        </div>
        <div class="col-md-6">
         <% if !book.external_cover_img_link.blank? %>
           <%= image_tag "#{book.external_cover_img_link}", class: "lazyOwl img-responsive floatCenter shadow", style: "width:70%;" %>
         <% else %>
           <%= image_tag "#{book.cover_img.url}", class: "lazyOwl img-responsive floatCenter shadow", style: "width:70%;" %>
         <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class='container-fluid bg-dark'>
    <div class="container">
    <h2>Recommended</h2>
    <div id="owl-recommended-books" class="owl-carousel">
      <% @books.each do |book| %>
          <div class="havePadding animated fadeIn">
            <a href=<%= '/books/' + book.id.to_s %> class="portfolio-box text-center">
              <% if !book.external_cover_img_link.blank? %>
                <%= image_tag "#{book.external_cover_img_link}", size: "250x300", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 100%;" %>
              <% else %>
                <%= image_tag "#{book.cover_img.url}", size: "250x300", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 100%;" %>
              <% end %>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                 <div class="project-category text-faded">
                    Take a look
                  </div>
                  <div class="project-name">
                  <i class="fa fa-search"></i> 
                    Take a look
                  </div>
                </div>
              </div>
            </a>
            <h4 class="text-center"><%= book.title %></h4>
            <p class="text-center"><%= book.authors.first.name if book.authors.first %></p>
          </div>
      <% end %>
    </div>
  </div>
  </div>
  
<!--   <div>  
    <%= search_form_for @search do |f| %>
     <div class="field bg-primary">
     <%= f.label :title_cont, "title contains" %>
     <%= f.text_field :title_cont %>
     </div>
     <div class="actions"><%= f.submit "Search" %></div>
    <% end %>
  </div> -->

<!--   <div class="container bg-primary">
    <div class="row havePadding">
    <h1 class="text-center">Books in Archive</h1>
    <hr>
    <% @books.each do |book| %>
    <div class="col-md-4 book-grid">
      <a href=<%= '/books/' + book.id.to_s %> class="portfolio-box text-center">
        <% if !book.external_cover_img_link.blank? %>
          <%= image_tag "#{book.external_cover_img_link}", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 65%;" %>
        <% else %>
          <%= image_tag "#{book.cover_img.url}", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 65%;" %>
        <% end %>
      </a>
      <h4 class="text-center"><%= book.title %></h4>
      <p class="text-center"><%= book.authors.first.name if book.authors.first %></p>
    </div>
    <% end %>
    </div>
    <div class="col-md-12">
    <nav class='text-center'>
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    </div>
  </div> -->

  <div class="clearfix"></div>

</div>

