<% content_for :head do %>
  <title>Book Library - Suan Mokkh</title>
  <meta content="Suan Mokkh" property="og:site_name"/><meta content="website" property="og:type" /><meta content="<%= @robot_img %>" itemprop="image primaryImageOfPage" property="og:image" /><meta itemprop="title name" content="<%= @title %>" property="og:title" itemprop="title name" /><meta itemprop="description" content="Suanmokkh.org holds the largest and most accesible source of Ajahn Budhadasa's teachings whether in books, audios, or poems. Please take time to explore and learn the reverent and profound teaching of Ajahn Buddhadasa." property="og:description" /><meta content="Suan Mokkh" name="twitter:site"/><meta content="" name="twitter:card" /><meta name="twitter:domain" content="suanmokkh.org"/><meta property="og:type" content="website" /><meta content="<%= @title %>" name="twitter:title" /><meta itemprop="description" content="Suanmokkh.org holds the largest and most accesible source of Ajahn Budhadasa's teachings whether in books, audios, or poems. Please take time to explore and learn the reverent and profound teaching of Ajahn Buddhadasa." name="twitter:description"/><meta content="<%= @robot_img %>" name="twitter:image:src" /><meta property="og:url" content="<%= request.original_url %>"/><link rel="canonical" href="<%= request.original_url %>"/>
<% end %>
<div class="jumbotron bg-dark" style="margin-bottom: 0; min-height: 100%;" itemscope itemtype="http://schema.org/WebPage">
  <div class="featured container" style="border: none; margin-top: 30px;">
    <div id="owl-featured-books" class="owl-carousel">
      <% @featured_books.each do |book| %>
        <div class="item row container" itemscope itemtype="http://schema.org/Book">
          <div class="col-md-6 text-center">
            <h1 itemprop="name"><%= book.title %></h1>
            <hr class="full">
            <p style="text-d" itemprop='author' itemscope='' itemtype='http://schema.org/Person'>
              <% book.authors.each do |author|%>
                <span itemprop="name"><%= author.name %></span>
              <% end %>
            </p>
            <p style="color:white !important; font-size:1.3em;" class="text-justify text-indent" itemprop="description"><%= sanitize(strip_tags(book.description)).first(900).strip.concat('...') %></p>
          </div>
          <div class="col-md-6">
            <% if !book.external_cover_img_link.blank? %>
              <%= image_tag "#{book.external_cover_img_link}", class: "lazyOwl img-responsive floatCenter shadow animated fadeIn", style: "width:50%;", itemprop: 'image' %>
            <% else %>
              <%= image_tag "#{book.cover_img.url(:medium)}", class: "lazyOwl img-responsive floatCenter shadow animated fadeIn", style: "width:50%;", itemprop: 'image' %>
            <% end %>
          </div>
          <br>
          <div class="col-md-12">
          <a href=<%= '/books/' + book.id.to_s %> class="btn btn-default btn-xl text-center floatCenter haveMargin" style="width: 200px;">Learn More</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="container-fluid bg-primary">
    <br>
<!--     <h1 class="text-center">Books in Archive</h1>
    <hr> -->
    <div class="container">
    <%= form_for_filterrific @filterrific do |f| %>
    <div class="row">
      <div class="col-md-3">
        <h3>Search</h3>
        <div class="input-group">
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed form-control'
        ) %>
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
        </div>

      </div>
      <div class="col-md-3">
        <div class="form-group chardin_box">
        <h3>Language</h3>
        <%= f.select(
          :with_language_id,
          @filterrific.select_options[:with_language_id],
          { include_blank: '- Any -' },
          { :class => 'form-control' }
        ) %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group chardin_box">
        <h3>Author</h3>
        <%= f.select(
          :with_author_id,
          @filterrific.select_options[:with_author_id],
          { include_blank: '- Any -' },
          { :class => 'form-control' }
        ) %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group chardin_box">
        <h3>Series</h3>
        <%= f.select(
          :with_series,
          @filterrific.select_options[:with_series],
          { include_blank: '- Any -' },
          { :class => 'form-control' }
        ) %>
        </div>
      </div>
    </div>
      <h1 class="text-center"><%= render_filterrific_spinner %></h1>
    <% end %>
    <%= render(
      partial: 'books/book',
      locals: { books: @books }
    ) %>
    </div>
  </div>
  <div class='container-fluid bg-dark'>
    <div class="container">
      <h2>Recommended</h2>
      <div id="owl-recommended-books" class="owl-carousel">
        <% @recommended_books.each do |book| %>
          <div class="havePadding" itemscope itemtype="http://schema.org/Book">
            <a href=<%= '/books/' + book.id.to_s %> class="portfolio-box text-center">
              <% if !book.external_cover_img_link.blank? %>
                <%= image_tag "#{book.external_cover_img_link}", size: "250x300", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 100%;", itemprop: 'image' %>
              <% else %>
                <%= image_tag "#{book.cover_img.url}", size: "250x300", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 100%;", itemprop: 'image' %>
              <% end %>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Take a look
                  </div>
                  <div class="project-name">
                    <i class="fa fa-search"></i> 
                    Take a look
                  </div>
                </div>
              </div>
            </a>
            <h4 class="text-center" itemprop="name"><%= book.title %></h4>
            <p class="text-center" itemprop='author' itemscope='' itemtype='http://schema.org/Person'><span itemprop-'name'><%= book.authors.first.name if book.authors.first %></span></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- <section id="index-bia" class="bg-primary">
  <div class="container">
    <h1 class="text-center wow fadeIn">Online Store</h1>
    <hr>
    <p class="text-center floatCenter" style="font-weight: 400; max-width:400px; padding-bottom: 15px;">Visit the online store to order books, audios, or souvenirs. The store serves as a mean to share the Dhamma to the world in hope the of making the world a better place starting from within.</p>
    <div class="col-md-12">
    <a href="/store" class="btn btn-primary btn-xl wow fadeIn text-center floatCenter haveMargin" style="width: 200px;">Visit Store</a>
    </div>
  </div>
</section> -->

