<% content_for :head do %>
<title><%= @title %></title>
<meta content="832982693512511" property="fb:app_id"><meta content="Suan Mokkh" property="og:site_name" /><meta content="website" property="og:type" /><meta content="<%= @img %>"  itemprop="image primaryImageOfPage" property="og:image" /><meta itemprop="title name" content="<%= @title %>" property="og:title" itemprop="title name" /><meta itemprop="description" content="<%= sanitize(strip_tags(@book.description)) %>" property="og:description" /><meta content="Suan Mokkh" name="twitter:site" /><meta content="" name="twitter:card" /><meta name="twitter:domain" content="suanmokkh.org"/><meta property="og:type" content="website" /><meta content="<%= @title %>" name="twitter:title" /><meta itemprop="description" content="<%= sanitize(strip_tags(@book.description)) %>" name="twitter:description" /><meta content="<%= @img %>" name="twitter:image:src" /><meta property="og:url" content="<%= request.original_url %>"/><link rel="canonical" href="<%= request.original_url %>" />
<% end %>
<div id="book-show" class="jumbotron bg-dark" itemprop="mainEntity" itemscope itemtype="http://schema.org/Book">
  <div class="container bg-primary retreat_talk_header">
    <div class="row">
      <div class="col-md-4">
      <% if !@book.external_cover_img_link.blank? %>
        <%= image_tag "#{@book.external_cover_img_link}", size: "250x300", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 90%;", itemprop: 'image'%>
      <% else %>
        <%= image_tag "#{@book.cover_img.url}", size: "250x300", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 90%;", itemprop: 'image'%>
      <% end %>
        <% if @book.audios.blank? %>
        <% elsif @book.audios.count > 1 %>
          <small class="text-center floatCenter" >
          <br>
          </small>
          <div class="col-md-12">
            <p class="book-show-lang-label">Select Audio Language</p>
            <%= 
            select_tag('languages', options_for_select(@options_for_audio_languages), class: 'form-control input-sm changeStatus')
            %>
            <br>
          </div>
        <% end %>
        <% if @related_books.count > 1 %>
          <br>
          <div class="col-md-12">
            <%= @options_for_languages %>
          <p class="book-show-lang-label">Select Book Language</p>
          <%= 
          select_tag('languages', options_for_select(@options_for_book_languages), class: 'form-control input-sm bookStatus')
          %>
          <br>
          </div>
        <% end %>      
        <hr class="full visible-sm visible-xs">
      </div>
      <div class="col-md-8">
        <h2 id="book-show-title" itemprop="name"><%= @book.title %></h2>
        <p itemprop='author' itemscope='' itemtype='http://schema.org/Person'>
          <% @book.authors.each do |author|%>
            <span itemprop="name"><%= author.name.upcase %></span>
          <% end %>
        </p>
        <hr class="full" style="border-color:#725843;">
        <span style="color:black !important" itemprop="description"><%= @book.description.html_safe %></span>

        <% if @book.audios.count > 1 && @book.show_book %>
        <div class="row">
          <div class="col-md-12">
            <a href="#start_reading" class="btn btn-primary text-center page-scroll floatCenter book-show-read-btn" role="button"><i class="fa fa-book"></i> Start Reading</a>
          </div>
        </div>
        <% end %>
      </div>    
      <hr class="full visible-sm visible-xs">
       <div class="col-md-12">
        <br>
          <% @book.audios.each_with_index do |a,i| %>
            <% if i == 0 %>
            <div id=<%= "audio"+ a.id.to_s %> class="embeded_audio" itemscope itemtype="http://schema.org/AudioObject">
              <%= a.embeded_audio.html_safe %>
            </div>
            <% else %>
              <div id=<%= "audio"+ a.id.to_s %> class="embeded_audio hide" itemscope itemtype="http://schema.org/AudioObject">
                <%= a.embeded_audio.html_safe %>
              </div>
            <% end %>
          <% end %>
      <% if @book.audios.count <= 1 && @book.show_book %>
          <div class="col-md-12">
            <a href="#start_reading" class="btn btn-primary text-center page-scroll floatCenter book-show-read-btn" role="button"><i class="fa fa-book"></i> Start Reading</a>
          </div>
      <% end %>
       </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div id="start_reading" class="container">
    <% @related_books.each_with_index do |b,i| %>
      <% if b.show_book %>
        <% if i == 0 %>
        <div id=<%= "book"+ b.id.to_s %> class="embeded_book">
            <%= b.show_book.html_safe %>
        </div>
        <% else %>
          <div id=<%= "book"+ b.id.to_s %> class="embeded_book hide">
            <%= b.show_book.html_safe %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<% if @additional_info.first && @book.show_book %>
<div class="container-fluid bg-dark">
  <a id="book-show-additional-info"class="text-center floatCenter white" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-info"></i>
    See additional info
  </a>
  <div class="collapse container text-center" id="collapseExample">
    <h2>Additional Info</h2>
    <hr>
      <% @additional_info.each do |k,v| %>
        <% if k =='Authors' && v.count >= 1 %>
          <p itemprop="author" itemscope itemtype="http://schema.org/Person">Author(s):
          <% v.each do |name| %>
            <span itemprop="name"><%= name %> <span>
          <% end %>
          </p><br>
        <% elsif k == 'Isbn_10' || k == 'Isbn_13' %>
          <p>INSB: <span itemprop="isbn"><%= v %><span></p><br>
        <% elsif k =='Publication_date' %>
          <p>Publication Date: <span itemprop="datePublished"><%= v.to_formatted_s(:long_ordinal) %><span></p><br>
        <% elsif k =='Format' %>
          <p><%= k %>: <span itemprop="bookFormat"><%= v %><span></p><br>
        <% elsif k =='Pages' %>
          <p><%= k %>: <span itemprop="numberOfPages"><%= v %><span></p><br>
        <% elsif k =='Publishers' && !v.blank? %>
          <p itemprop="publisher" itemtype="http://schema.org/Organization" itemscope="">Publisher(s):  
          <% v.each do |name| %>
            <span itemprop="name"><%= name %></span>
          <% end %>
          </p><br>
        <% elsif !v.blank? %>
          <p><%= k %>: <%= v %></p><br>
        <% end %>
      <% end %>
      <% if @languages.count >= 1 %>
        <p>Language(s):
        <% @languages.each do |l| %>
          <meta itemprop="inLanguage" content=<%= l %>><%= l %></meta>
        <% end %>
        </p>
      <% end %>
  </div>
</div>
<% end %>
<% if @book.allow_comments %>
<div id="book-show-comment" class="container-fluid bg-dark">
  <div class="container">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'suanmokkh';
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
</div>
<% end %>