<% content_for :head do %>
<title><%= @book.title %> <%= "by " + @book.authors.first.name if @book.authors.first %> - Suan Mokkh</title>
<% end %>

<div class="jumbotron bg-dark" style="margin-bottom: 0; min-height: 100%;">
  <div class="container bg-primary retreat_talk_header">
    <div class="row">
      <div class="col-md-4">
      <% if !@book.external_cover_img_link.blank? %>
        <%= image_tag "#{@book.external_cover_img_link}", size: "250x300", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 90%;" %>
      <% else %>
        <%= image_tag "#{@book.cover_img.url}", size: "250x300", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 90%;" %>
      <% end %>

        <% if @book.audios.count == 0 %>

        <% elsif @book.audios.count > 1 %>
          <small class="text-center floatCenter" >
          <br>
          </small>
          <div class="col-md-12">
            <p style="font-size: 15px; text-align: center;">Select Audio Language</p>
            <%= 
            select_tag('languages', options_for_select(@options_for_audio_languages), class: 'form-control input-sm changeStatus')
            %>
            <br>
          </div>
        <% end %>

        <% if @related_books.count > 1 %>
          <br>
          <div class="col-md-12">
            <%= @options_for_languages %>
          <p style="font-size: 15px; text-align: center;">Select Book Language</p>
          <%= 
          select_tag('languages', options_for_select(@options_for_book_languages), class: 'form-control input-sm bookStatus')
          %>
          <br>
          </div>
        <% end %>
        
        <hr class="full visible-sm visible-xs">
      </div>
      <div class="col-md-8">
        <h1 style="margin-top:0; margin-bottom: 15px"><%= @book.title %></h1>
        <p>
          <% @book.authors.each do |author|%>
            <%= author.name.upcase %>
          <% end %>
        </p>
        <hr class="full" style="border-color:#725843;">
        <span style="color:black !important"><%= @book.description.html_safe %></span>
        
        <% if @book.audios.count > 1 %>
        <div class="row">
          <div class="col-md-12">
            <a href="#start_reading" class="btn btn-primary text-center page-scroll floatCenter" style="width:300px; padding:15px 0; font-size: 1.2em; margin-top:15px; margin-bottom: 20px;" role="button"><i class="fa fa-book"></i> Start Reading</a>
          </div>
        </div>
        <% end %>

      </div>
      
      <hr class="full visible-sm visible-xs">
       <div class="col-md-12">
        <br>
          <% @book.audios.each_with_index do |a,i| %>
            <% if i == 0 %>
            <div id=<%= "audio"+ a.id.to_s %> class="embeded_audio">
              <%= a.embeded_audio.html_safe %>
            </div>
            <% else %>
              <div id=<%= "audio"+ a.id.to_s %> class="embeded_audio hide">
                <%= a.embeded_audio.html_safe %>
              </div>
            <% end %>
          <% end %>
      <% if @book.audios.count <= 1 %>
          <div class="col-md-12">
            <a href="#start_reading" class="btn btn-primary text-center page-scroll floatCenter" style="width:300px; padding:15px 0; font-size: 1.2em; margin-top:15px; margin-bottom: 20px;" role="button"><i class="fa fa-book"></i> Start Reading</a>
          </div>
      <% end %>
       </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div id="start_reading" class="container">
    <% @related_books.each_with_index do |b,i| %>
      <% if i == 0 %>
      <div id=<%= "book"+ b.id.to_s %> class="embeded_book">
          <%= b.show_book.html_safe %>
      </div>
      <% else %>
        <div id=<%= "book"+ b.id.to_s %> class="embeded_book hide">
          <%= b.show_book.html_safe %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<% if @book.allow_comments %>
<div class="container-fluid bg-dark" style="padding-right: 0; padding-left: 0;">
  <div class="container">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'suanmokkh';
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $('select.changeStatus').change(function(){
      $('.embeded_audio').addClass('hide');
      $('#audio'+ ($('select.changeStatus').val())).removeClass('hide').addClass('animated fadeIn');
  });
  $('select.bookStatus').change(function(){
      $('.embeded_book').addClass('hide');
      $('#book'+ ($('select.bookStatus').val())).removeClass('hide').addClass('animated fadeIn');
  });
</script>