<% content_for :head do %>
<title><%= @book.title %> <%= "by " + @book.authors.first.name if @book.authors.first %> - Suan Mokkh</title>
<% end %>

<!-- <p id="notice"><%= notice %></p> -->
<!-- <header class="showBook">
  <div class="header-content">
    <div class="header-content-inner wow fadeIn">
      <h1>Suan Mokkh</h1>
      <h1>Garden of Liberation</h1>
      <hr>
      <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
    </div>
  </div>
</header> -->
<div class="jumbotron bg-dark" style="margin-bottom: 0; min-height: 100%;">
  <!-- <hr class="full"> -->
  <div class="container bg-primary book_header">
    <div class="row">
      <div class="col-md-4">
      <% if !@book.external_cover_img_link.blank? %>
        <%= image_tag "#{@book.external_cover_img_link}", size: "250x300", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 100%;" %>
      <% else %>
        <%= image_tag "#{@book.cover_img.url}", size: "250x300", class: "lazyOwl img-responsive floatCenter shadow", style: "width: 100%;" %>
      <% end %>

        <% if @book.audios.count == 0 %>

        <% elsif @book.audios.count == 1 %>
          <hr>
          <small class="text-center floatCenter" >
          <!-- <i class="fa fa-headphones fa-2x"></i> -->
          <br>
          This book has an audio file available
          </small>
          <%= @book.audios.first.embeded_audio_link.html_safe %>
        <% else %>
          <hr>
          <small class="text-center floatCenter" >
          <br>
          This book has audio file(s) available in different languages
          </small>
          <ul>
          <% @book.audios.each do |audio| %>

            <% if audio.languages.count == 0 %>

            <% elsif audio.languages.count == 1 %>
              <li>
              <% if audio.languages.first.name == "Thai" %>
                <%= image_tag "thai_icon.png" %>
              <% end %>
              <% if audio.languages.first.name == "English" %>
                <%= image_tag "english_icon.gif" %>
              <% end %>
              <%= link_to audio.languages.first.name, audio %>
              </li>

            <% else %>
              <% audio.languages.each_with_index do |lang, index| %>
                <% if index != audio.languages.count-1 %>
                  <% @audio_languages << lang.name + ' and ' %>
                <% elsif index == audio.languages.count-1 %>
                  <% @audio_languages << lang.name %>
                <% end %>
              <% end %>
              <li><%= link_to @audio_languages, audio %></li>
            <% end %>

          <% end %>
          </ul>
        <% end %>

      </div>
      <div class="col-md-8">
        <h1 style="margin-top:0; margin-bottom: 15px; font-size: 63px;"><%= @book.title %></h1>
        <p>
          <% @book.authors.each do |author|%>
            <%= author.name.upcase %>
          <% end %>
        </p>
        <hr class="full" style="border-color:#725843;">
        <span style="color:black !important"><%= @book.description.html_safe %></span>
      </div>
    </div>
    <!-- <hr> -->
      <div class="row">
        <div class="col-md-12">
          <a href="#start_reading" class="btn btn-primary text-center page-scroll floatCenter" style="width:350px; padding:15px 0; font-size: 1.5em; margin-top:50px;" role="button"><i class="fa fa-book"></i> Start Reading</a>
        </div>
      </div>
<!--     <h1>Suan Mokkh</h1>
    <h1>Garden of Liberation</h1>
    <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
  </div>
</div>
<div class="container-fluid">
  <div id="start_reading" class="container">
    <!-- <object type="application/pdf" width="100%" height="auto" data=<%= @book.file.url + "#view=fit" %>></object> -->
    <!-- <iframe src=<%= @book.external_file_link || @book.file.url + "#view=fit" %> width="100%" height="1000px" border="0" style="border:none" scrolling="no"></iframe> -->
    <% if !@book.external_file_link.blank? %>
      <iframe src=<%= @book.external_file_link + "#view=fit" %> width="100%" height="1000px" border="0" style="border:none" scrolling="no"></iframe>
    <% else %>
      <iframe src=<%= @book.file.url + "#view=fit" %> width="100%" height="1000px" border="0" style="border:none" scrolling="no"></iframe>
    <% end %>
    <!-- <iframe id="ifr" src="http://docs.google.com/gview?url=#{@book.file.url}&embedded=true" style="width:718px; height:700px;" frameborder="0"> -->
    <!-- <iframe style="height: 1000px; width: 100%;" src=<%= @book.file.url %> /> -->
    <!-- <hr class="full"> -->

  </div>

</div>

<% if @book.allow_comments %>
<div class="container-fluid bg-dark" style="padding-right: 0; padding-left: 0;">
  <div class="container">
    <div class="row">
    <h1 class="text-center">
      <small class="white">Downloads</small>
      <%= @book.downloads %>
      <small class="white">Views</small>
      <%= @book.views %>
      <small class="white">Shares</small>
      <%= @book.shares %>
    </h1>
    <hr>
    </div>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'suanmokkh';
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
</div>
<% end %>