<% content_for :head do %>
<title>Suan Mokkh: The Garden of Liberation - Suan Mokkh</title>
<meta content="832982693512511" property="fb:app_id"><meta content="Suan Mokkh" property="og:site_name" /><meta content="website" property="og:type" /><meta content="http://www.thaipulse.com/photos/thailand-buddhism/hl/images/suan-mokkh-buddha-statue-whole-leaves-blurred.jpg" itemprop="image primaryImageOfPage" property="og:image" /><meta itemprop="title name" content='Suan Mokkh - Garden of Liberation' property="og:title" itemprop="title name" /><meta itemprop="description" content='Suan Mokkh is a forest monastery along the coast of Southern Thailand, 600 km from Bangkok. It was founded in 1932 by Buddhadasa Bhikkhu (see below) and grew to become the most innovative and progressive Buddhist teaching center in Siam. Although Buddhadasa Bhikkhu has passed away, much of his work continues. This site is a continuation of that work, one of many virtual Suan Mokkhs. As the true Suan Mokkh can only be found within the nature of the silent mind, any attempt to speak of it is virtual, whether in talks, books, or cyberspace. Here we attempt to extend the discoveries of Suan Mokkh into the 84,000 virtual worlds. May the contents support you in the realization of the liberation that is ever now within the nature of the mind that is experiencing this "reality," virtual or what-have-you.' property="og:description" /><meta content="Suan Mokkh" name="twitter:site"/><meta content="" name="twitter:card" /><meta name="twitter:domain" content="suanmokkh.org"/><meta property="og:type" content="website" /><meta content='Suan Mokkh - Garden of Liberation' name="twitter:title" /><meta itemprop="description" content='Suan Mokkh is a forest monastery along the coast of Southern Thailand, 600 km from Bangkok. It was founded in 1932 by Buddhadasa Bhikkhu (see below) and grew to become the most innovative and progressive Buddhist teaching center in Siam. Although Buddhadasa Bhikkhu has passed away, much of his work continues. This site is a continuation of that work, one of many virtual Suan Mokkhs. As the true Suan Mokkh can only be found within the nature of the silent mind, any attempt to speak of it is virtual, whether in talks, books, or cyberspace. Here we attempt to extend the discoveries of Suan Mokkh into the 84,000 virtual worlds. May the contents support you in the realization of the liberation that is ever now within the nature of the mind that is experiencing this "reality," virtual or what-have-you.' name="twitter:description"/><meta content='http://www.thaipulse.com/photos/thailand-buddhism/hl/images/suan-mokkh-buddha-statue-whole-leaves-blurred.jpg' name="twitter:image:src" /><meta property="og:url" content="<%= request.original_url %>"/><link rel="canonical" href="<%= request.original_url %>"/>
<% end %>
<div id="suanmokkh" class="bg-dark article_standard section-padding">
<div class="container bg-dark article_standard" style="background-color: rgba(114, 88, 67, 0.9);" itemscope itemtype="http://schema.org/Organization">
	<h1 class="text-center animated fadeIn" itemprop="name"><%= @page.title %></h1>
	<hr>
	<div class="col-md-10">
		<div class="bg-primary col-md-10 col-md-offset-1 havePadding haveMargin shadow">
			<div id="owl-demo" class="owl-carousel owl-theme">
			  <div class="item">
					<%= image_tag "suanmokkh10.jpg",class: "lazyOwl"%>
			  </div>
			  <div class="item">
					<%= image_tag "suanmokkh6.jpg",class: "lazyOwl"%>
			  </div>
			  <div class="item">
					<%= image_tag "suanmokkh-land.jpg",class: "lazyOwl"%>
			  </div>
			</div>
		</div>
		<%= @page.content.html_safe %>
	</div>
					<div class="col-md-2 hidden-sm hidden-xs" >
						    	<ul id="suanmokkh-nav" class="nav nav-pills nav-stacked text-center list-dark" style="position:fixed;" >
						    		<h4 class="text-center white">Navigation</h4>
						    		<!-- <li role="presentation" class="disabled"><a href="#">Go to: </a></li> -->
						    	  <li role="presentation"><a class="page-scroll" href="#introduction">Introduction</a></li>
						    	  <li role="presentation"><a class="page-scroll" href="#monastary">Monastery and Nature</a></li>
						    	  <li role="presentation"><a class="page-scroll" href="#dhamma">Teacher and Dhamma</a></li>
						    	  <li role="presentation"><a class="page-scroll" href="#recovering">Dhamma</a></li>
						    	  <li role="presentation"><a class="page-scroll" href="#teaching">Teaching</a></li>
						    	  <li role="presentation"><a class="page-scroll" href="#monks">Monks</a></li>
						    	  <li role="presentation"><a class="page-scroll" href="#resolutions">3 Resolutions</a></li>
						    	  <!-- <li role="presentation"><a href="/suanmokkh/principle">Principle</a></li> -->
						    		<hr>
						    		<!-- <h4 class="text-center white">Related</h4>						    	   -->
						    	  <li role="presentation"><a href="/retreats">Retreats</a></li>
						    	  <!-- <li role="presentation"><a href="/contact">Visting</a></li> -->
						    	  <li role="presentation"><a href="/contact">Contact</a></li>
						    	  <!-- <li role="presentation"><a href="https://www.youtube.com/user/buddhadasaarchives">Ajahn's Videos</a></li> -->
						    <!-- 	  <li role="presentation"><a class="page-scroll" href="#suanMokkh">Profile</a></li>
						    	  <li role="presentation"><a class="page-scroll" href="#suanMokkh">Messages</a></li> -->
						    	</ul>

					</div>
						
</div>

</div>