<p id="notice"><%= notice %></p>

<h1>Listing Legacies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @legacies.each do |legacy| %>
      <tr>
        <td><%= legacy.title %></td>
        <td><%= legacy.content %></td>
        <td><%= legacy.number %></td>
        <td><%= link_to 'Show', legacy %></td>
        <td><%= link_to 'Edit', edit_legacy_path(legacy) %></td>
        <td><%= link_to 'Destroy', legacy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Legacy', new_legacy_path %>
