  <% @retreat_talks.each_with_index do |retreat_talk,index| %>
  <div class="col-md-4 retreat_talk-grid" itemscope itemprop="audio" itemtype="http://schema.org/AudioObject">
    <a itemprop="url" href=<%= '/retreat_talks/' + retreat_talk.id.to_s %> class="portfolio-box text-center">
      <% if !retreat_talk.external_cover_img_link.blank? %>
        <%= image_tag "#{retreat_talk.external_cover_img_link}", class: "lazyOwl img-responsive floatCenter shadow animated fadeIn", style: "width: 65%;", itemprop: 'image' %>
      <% else %>
        <%= image_tag "#{retreat_talk.cover_img.url}", class: "lazyOwl img-responsive floatCenter shadow animated fadeIn", style: "width: 65%;", itemprop: 'image' %>
      <% end %>
    </a>
    <h4 class="text-center" itemprop="name"><%= retreat_talk.title %></h4>
    <p class="text-center" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><%= retreat_talk.authors.first.name if retreat_talk.authors.first %></span></p>
    <div itemscope itemprop="provider" itemtype="http://schema.org/Organization"><meta itemprop="name" content="SoundCloud" /><meta itemprop="image" content="http://developers.soundcloud.com/assets/logo_white-8bf7615eb575eeb114fc65323068e1e4.png" /></div>
  </div>
    <% if (index+1) % 3 == 0 && index != 0 %>
         <div class="clearfix"></div>
    <% end %>
  <% end %>
  <div class="col-md-12">
  <p class="text-center"><%= page_entries_info @retreat_talks %></p>

  <nav class="text-center">
  <%= paginate @retreat_talks, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered" %>
  </nav>
  <br>
  <!-- <a href="https://soundcloud.com/buddhadasa"><h4 class="text-center">Listen to All Audios in SoundCloud</h4></a> -->
  </div>
