<!-- <p id="notice"><%= notice %></p> -->
<% content_for :head do %>
<title>Retreat Talks - Suan Mokkh</title>
<% end %>

<div class="jumbotron bg-dark" style="margin-bottom: 0; min-height: 100%;">
  <div class="container bg-primary" id="retreat_talk_banner">
    <h1 class="text-center">Selected Retreat Talks</h1>
    <hr>
    <% if @featured_retreat_talks.count >= 1 %>
      <div id="owl-featured-retreat_talks" class="owl-carousel">
        <% @featured_retreat_talks.each do |retreat_talk| %>
          <% if retreat_talk.audios.first %>
            <div class="item">
              <%= retreat_talk.audios.first.embeded_audio_link_banner.html_safe %>
              <h2 class="text-center"><%= link_to retreat_talk.title, retreat_talk %></h2>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="clearfix"></div>
  </div>

  <div class="container bg-primary" style="border: none;">
  <%= form_for_filterrific(@filter) do |f| %>
  <div class="row">
    <div class="col-md-3">
      <p>Search</p>
      <div class="input-group">
      <%= f.text_field(
        :search_query,
        class: 'filterrific-periodically-observed form-control input-sm'
      ) %>
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
      </div>

    </div>
    <div class="col-md-3">
      <div class="form-group chardin_box">
      <p>Language</p>
      <%= f.select(
        :with_language_id,
        @filter.select_options[:with_language_id],
        { include_blank: '- Any -' },
        { :class => 'form-control input-sm' }
      ) %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group chardin_box">
      <p>Author</p>
      <%= f.select(
        :with_author_id,
        @filter.select_options[:with_author_id],
        { include_blank: '- Any -' },
        { :class => 'form-control input-sm' }
      ) %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group chardin_box">
      <p>Series</p>
      <%= f.select(
        :with_series,
        @filter.select_options[:with_series],
        { include_blank: '- Any -' },
        { :class => 'form-control input-sm' }
      ) %>
      </div>
    </div>
  </div>
    <%# add an automated spinner to your form when the list is refreshed %>
    <h1 class="text-center"><%= render_filterrific_spinner %></h1>
  <% end %>
  <div id="results">
    <%= render(
      partial: 'retreat_talks/list',
      locals: { retreat_talks: @retreat_talks }
    ) %>
  </div>

  </div>

  <div class="clearfix"></div>

</div>

<script type="text/javascript">
    var style = document.documentElement.style;
  support3d = (style.webkitTransition !== undefined ||
               style.MozTransition !== undefined ||
               style.OTransition !== undefined ||
               style.transition !== undefined);
 
  var owl = $("#owl-featured-retreat_talks");

  $('#owl-recommended-retreat_talks').owlCarousel({
      items: 5,
  });

$("#owl-featured-retreat_talks").owlCarousel({
    items: 1,
    // animateOut: 'fadeOut',
    // animateIn: 'fadeIn',
    // loop: true,
    // transitionStyle : "fade",
    autoHeight:true
});   
</script>