<% content_for :head do %>
<title><%= @title %></title>
<meta content="832982693512511" property="fb:app_id"><meta content="Suan Mokkh" property="og:site_name" /><meta content="website" property="og:type" /><meta content="<%= @robot_img %>" itemprop="image primaryImageOfPage" property="og:image" /><meta itemprop="title name" content="<%= @title %>" property="og:title" itemprop="title name" /><meta itemprop="description" content="Suanmokkh.org holds audio collection of more than 300 retreat talks during the life time of Ajahn Buddhadasa starting from the 1980's to 1990's. These audios are mostly translated live by Santikaro given at Suan Mokkh International Dharma Hermitage." property="og:description" /><meta content="Suan Mokkh" name="twitter:site"/><meta content="" name="twitter:card" /><meta name="twitter:domain" content="suanmokkh.org"/><meta property="og:type" content="website" /><meta content="<%= @title %>" name="twitter:title" /><meta itemprop="description" content="Suanmokkh.org holds audio collection of more than 300 retreat talks during the life time of Ajahn Buddhadasa starting from the 1980's to 1990's. These audios are mostly translated live by Santikaro given at Suan Mokkh International Dharma Hermitage." name="twitter:description"/><meta content="<%= @robot_img %>" name="twitter:image:src" /><meta property="og:url" content="<%= request.original_url %>"/><link rel="canonical" href="<%= request.original_url %>"/>
<% end %>
<div class="jumbotron bg-dark" style="margin-bottom: 0; min-height: 100%;">
    <div class="container bg-primary" id="retreat_talk_banner">
      <h1 class="text-center animated fadeIn">Retreat Talks</h1>
      <hr>
      <a target="_blank" href="https://soundcloud.com/buddhadasa" class="haveMargin text-center floatCenter"><i class="fa fa-soundcloud"></i> See All Talks in SoundCloud</a>
      <% if @featured_retreat_talks.count >= 1 %>
        <div id="owl-featured-retreat_talks" class="owl-carousel">
          <% @featured_retreat_talks.each do |retreat_talk| %>
            <% if retreat_talk.audios.first %>
              <div class="item" itemscope itemprop="audio" itemtype="http://schema.org/AudioObject">
                <span itemprop="embedUrl" content="<%= retreat_talk.audios.first.secret_uri %>"><%= retreat_talk.audios.first.embeded_audio_link_banner.html_safe %></span>
                <h2 class="text-center" itemprop="name"><%= link_to retreat_talk.title, retreat_talk %></h2>
                <meta itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" class='hidden' ><%= retreat_talk.authors.first.name %></span></meta>
                <div itemscope itemprop="provider" itemtype="http://schema.org/Organization"><meta itemprop="name" content="SoundCloud" /><meta itemprop="image" content="http://developers.soundcloud.com/assets/logo_white-8bf7615eb575eeb114fc65323068e1e4.png" /></div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="clearfix"></div>
  <div class="container bg-primary" style="border: none;">
    <%= form_for_filterrific(@filter) do |f| %>
    <div class="row">
      <div class="col-md-3">
        <p>Search</p>
        <div class="input-group">
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed form-control input-sm'
        ) %>
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group chardin_box">
        <p>Language</p>
        <%= f.select(
          :with_language_id,
          @filter.select_options[:with_language_id],
          { include_blank: '- Any -' },
          { :class => 'form-control input-sm' }
        ) %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group chardin_box">
        <p>Author</p>
        <%= f.select(
          :with_author_id,
          @filter.select_options[:with_author_id],
          { include_blank: '- Any -' },
          { :class => 'form-control input-sm' }
        ) %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group chardin_box">
        <p>Series</p>
        <%= f.select(
          :with_series,
          @filter.select_options[:with_series],
          { include_blank: '- Any -' },
          { :class => 'form-control input-sm' }
        ) %>
        </div>
      </div>
    </div>
      <h1 class="text-center"><%= render_filterrific_spinner %></h1>
    <% end %>
    <div id="results">
      <%= render(
        partial: 'retreat_talks/list',
        locals: { retreat_talks: @retreat_talks }
      ) %>
    </div>
  </div>
  <div class="clearfix"></div>
</div>