<!-- <p id="notice"><%= notice %></p> -->
<% content_for :head do %>
<title>Retreat Talks - Suan Mokkh</title>
<% end %>

<div class="jumbotron bg-dark" style="margin-bottom: 0; min-height: 100%;">
    <div class="container bg-primary" id="retreat_talk_banner">
    <h1 class="text-center">Selected Retreat Talks</h1>
    <hr>
   <!--  <iframe width="100%" height="266" scrolling="no" frameborder="yes" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/220603266&amp;color=725843&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe> -->
      <div id="owl-featured-retreat_talks" class="owl-carousel">
        <% @featured_retreat_talks.each do |retreat_talk| %>
        <div class="item">
          <%= retreat_talk.audios.first.embeded_audio_link_banner.html_safe %>
          <h2 class="text-center"><%= link_to retreat_talk.title, retreat_talk %></h2>
        </div>
      <% end %>
      </div>
      <div class="clearfix"></div>
      <div class='container-fluid animated fadeIn'>
        <div class="container">

      </div>
      </div>
    </div>
  <div class="container bg-primary" style="border: none;">
  <%= form_for_filterrific(@filterrific) do |f| %>
  <div class="row">
    <div class="col-md-3">
      <p>Search</p>
      <div class="input-group">
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(
        :search_query,
        class: 'filterrific-periodically-observed form-control'
      ) %>
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
      </div>

    </div>
    <div class="col-md-3">
      <div class="form-group chardin_box">
      <p>Language</p>
      <%= f.select(
        :with_language_id,
        @filterrific.select_options[:with_language_id],
        { include_blank: '- Any -' },
        { :class => 'form-control' }
      ) %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group chardin_box">
      <p>Author</p>
      <%= f.select(
        :with_author_id,
        @filterrific.select_options[:with_author_id],
        { include_blank: '- Any -' },
        { :class => 'form-control' }
      ) %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group chardin_box">
      <p>Series</p>
      <%= f.select(
        :with_series,
        @filterrific.select_options[:with_series],
        { include_blank: '- Any -' },
        { :class => 'form-control' }
      ) %>
      </div>
    </div>
  </div>
    <%# add an automated spinner to your form when the list is refreshed %>
    <h1 class="text-center"><%= render_filterrific_spinner %></h1>
  <% end %>
  <div id="results">
    <%= render(
      partial: 'retreat_talks/list',
      locals: { retreat_talks: @retreat_talks }
    ) %>
  </div>

  </div>

  <div class="clearfix"></div>

</div>

<script type="text/javascript">
    var style = document.documentElement.style;
  support3d = (style.webkitTransition !== undefined ||
               style.MozTransition !== undefined ||
               style.OTransition !== undefined ||
               style.transition !== undefined);
 
  var owl = $("#owl-featured-retreat_talks");

  $('#owl-recommended-retreat_talks').owlCarousel({
      items: 5,
  });

$("#owl-featured-retreat_talks").owlCarousel({
    items: 1,
    // animateOut: 'fadeOut',
    // animateIn: 'fadeIn',
    // loop: true,
    // transitionStyle : "fade",
    autoHeight:true
});   
</script>