<p id="notice"><%= notice %></p>

<h1>Listing Retreat Talks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @retreat_talks.each do |retreat_talk| %>
      <tr>
        <td><%= retreat_talk.name %></td>
        <td><%= retreat_talk.code %></td>
        <td><%= link_to 'Show', retreat_talk %></td>
        <td><%= link_to 'Edit', edit_retreat_talk_path(retreat_talk) %></td>
        <td><%= link_to 'Destroy', retreat_talk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Retreat talk', new_retreat_talk_path %>
